
<%= form_for(@parking_code, html: {role: "form"}) do |f| %>
  <div class="form-group">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <% if @parking_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_code.errors.count, "error") %> prohibited this parking_code from being saved:</h2>

      <ul>
      <% @parking_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code %>
  </div>
  <% if Setting.date_scheme? %>
  <div class="field">
    <%= f.label :codedate %><br>
    <%= f.date_select :codedate %>
  </div>
  <% end %>
      <p>&nbsp;</p>
      <div class="actions">
        <%= f.submit class: "btn btn-primary btn-md"  %>
      </div>
    </div>
  </div>
</div>
<% end %>
