<tr>
        <td><%= text_data.account_sid %></td>
        <td><%= text_data.text_to %></td>
        <td><%= text_data.text_from %></td>
        <td><%= text_data.text_body %></td>
        <td><%= text_data.user_id %></td>
        <td><%= text_data.user %></td>
</tr>

