<h1>Listing text_data</h1>

<table>
  <thead>
    <tr>
      <th>Account ID</th>
      <th>To</th>
      <th>From</th>
      <th>Body</th>
      <th>Num Media</th>
      <th>User ID</th>

    </tr>
  </thead>

  <tbody>
    <% @text_data.each do |text_data| %>
      <tr>
        <td><%= text_data.account_sid %></td>
        <td><%= text_data.text_to %></td>
        <td><%= text_data.text_from %></td>
        <td><%= text_data.text_body %></td>
        <td><%= text_data.num_media %></td>
        <td><%= text_data.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

