<h1>Listing text_data</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @text_data.each do |text_datum| %>
      <tr>
        <td><%= text_data.message_sid %></td>
        <td><%= text_data.sms_sid %></td>
        <td><%= text_data.account_sid %></td>
        <td><%= text_data.text_to %></td>
        <td><%= text_data.text_from %></td>
        <td><%= text_data.text_body %></td>
        <td><%= text_data.num_media %></td>
        <td><%= text_data.user_id %></td>
        <td><%= text_data.text_success %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text datum', new_text_datum_path %>
