<%= form_for(@setting, url: settings_path, method: :put) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_scheme %><br>
    <%= f.select :code_scheme, [["One code per date", "0"], ["Single-use codes", "1"]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
