<!DOCTYPE html>
<html>
<head>
<title><%= content_for(:page_title) || "JamesApp" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<%= render :partial => "simple_admin" %>

<%= csrf_meta_tags %>
</head>
<div class="wrap">

  <%= render :partial => "navbar" %>

  <section>
    <div class="container">

      <div class="row row row-offcanvas row-offcanvas-left">

        <%= render :partial => "sidebar" %>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
          <div class="row">
          <%= render :partial => "alerts" %>
          <%= render :partial => "menu_panel" %>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="tab-content">
                <%= yield %>
              </div>
            </div>
          </div><!-- /. row-->


        </div>
      </div>
    </section>
  </div>
  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= render :partial => "simple_admin_js" %>




  <script>
/***************************************************
  responsive menu
 ***************************************************/

  jQuery(function (jQuery) {
      jQuery("#cat-navi").append("<select/>");
      jQuery("#cat-navi select").addClass("form-control");
      jQuery("<option />", {
        "selected": "selected",
        "value": "",
        "text": "Choose category"
        }).appendTo("#cat-navi select");
      //new dropdown menu
      jQuery("#cat-navi a").each(function () {
        var el = jQuery(this);
        var perfix = '';
        switch (el.parents().length) {
        case (11):
        perfix = '-';
        break;
        case (13):
        perfix = '--';
        break;
        default:
        perfix = '';
        break;

        }
        jQuery("<option />", {
          "value": el.attr("href"),
          "text": perfix + el.text()
          }).appendTo("#cat-navi select");
        });

      jQuery('#cat-navi select').change(function () {

          window.location.href = this.value;

          });
  });

  </script>

  <script>
/* offcanvas js */
  $(document).ready(function() {
      $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
        });
      });
  </script>

  </body>
  </html>



